html {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  color: #333;
}

.containers {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background: linear-gradient(0deg, red, #ffd23d);
}
.containers h1 {
  text-align: center;
  font-size: 4rem;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px 15px 0 0;
  color: whitesmoke;
}

.containers h2 {
  text-align: center;
  font-size: 2.5rem;
  color: whitesmoke;
}

/*--------------------
TodoItem 
--------------------*/
.todo-item {
  background: #f8f8f6;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 3px 10px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 39rem;
  border-left: 8px solid #febd00;
}

.todo-item_icon {
  display: flex;
  flex-direction: row;
}
.todo-item_icon button {
  padding: 10px;
}

.pen-icon {
  color: #8c8c8c !important;
}

.todo-item_icon button:hover {
  color: #d7370f !important;
}
.todo-item_icon button:focus {
  background-color: transparent !important;
}

/*----------------------------------------*/
.MuiInputBase-input {
  padding-left: 10px !important;
  font-size: 20px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
  .containers {
    width: 28.5rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .containers h1 {
    font-size: 3rem;
  }
  .containers h2 {
    font-size: 2rem;
  }

  .todo-item {
    width: 26rem;
  }
  .makeStyles-TextField-2 {
    width: 21rem !important;
  }

  .makeStyles-button-3 {
    width: 1rem;
  }
  .makeStyles-root-1 {
    width: 28rem !important;
    margin-left: auto;
    margin-right: auto;
  }
}
